  {
    "reporter": [
      "html",
      "text-summary"
    ],
    "all": true,
    "include": [
      "src/**/*.mjs",
      "src/**/*.cjs",
      "src/**/*.js"
    ],
    "lines": 100,
    "branches": 100,
    "statements": 100,
    "report-dir": "tests/coverage/node"
  }
